{% extends 'search/base.html' %}
{% block content %}
{% load static %}

{% include "search/header.html" %}

<!--content-->
<main class="row">

	<div class="col-12 col-sm-12 ml-xl-0 col-md-12 col-lg-9 col-xl-8">
        <h1 class="text-center">JudaicaLink Search</h1>
        <p>
        Here you can access the JudaicaLink Knowledge Graph via a full text search on fields such as label, birth and death dates as well as locations.
        </p>

        <!-- Simple Search -->

            <form method="get" action="search">
                <div class="col-xs-6">
                    <input type="hidden" name="page" value="1">
                    <div class="input-group">
                        <input class="form-control" type="text" name="lookfor" value="" placeholder="Enter your search keyword">
                        <div class="input-group-btn" >
                            <button type="submit" class="btn btn-light search_button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        <br>

        <!-- Advanced Search -->

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:#0056b3">
                            Advanced Search
                        </button>
                    </h5>
                </div>


            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <form  method="get" action="search">
                    <input type="hidden" name="page" value="1">

                    <!-- 1. Row -->
                    <div class="form-row">
                        <div class="form-group col-2">
                        </div>
                        <div class="form-group col-4">
                            <select class="form-control" name="searchOptions1">
                            <option value="name:">Name</option>
                            <option value="Alternatives:">Alternatives</option>
                            <option value="Publication:">Publication</option>
                            <option value="birthDate:">Birthdate</option>
                            <option value="deathDate:">Deathdate</option>
                            <option value="birthLocation:">Birthlocation</option>
                            <option value="deathLocation:">Deathlocation</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <input type="text" name="searchInput1" class="form-control" id="searchInput1" placeholder="">
                        </div>
                    </div>

                    <!-- 2. Row -->
                    <div class="form-row">
                        <div class="form-group col-2">
                            <select class="form-control" name="searchOperators2">  <!-- richtiger Operator muss übergeben werden -->
                            <!--Eine solche Verknüpfung funktioniert: "name:Albert Einstein AND birthDate:1879 NOT birthLocation:Ulm"-->
                            <option value=" AND ">AND</option>
                            <option value=" OR ">OR</option>
                            <option value=" NOT ">NOT</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <select class="form-control" name="searchOptions2"> <!-- richtiges Suchfeld muss übergeben werden -->
                            <option value="Publication:">Publication</option>
                            <option value="name:">Name</option>
                            <option value="Alternatives:">Alternatives</option>
                            <option value="birthDate:">Birthdate</option>
                            <option value="deathDate:">Deathdate</option>
                            <option value="birthLocation:">Birthlocation</option>
                            <option value="deathLocation:">Deathlocation</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <input type="text" name="searchInput2" class="form-control" id="searchInput2" placeholder="">
                        </div>
                    </div>

                    <!-- 3. Row -->
                    <div class="form-row">
                        <div class="form-group col-2">
                            <select class="form-control" name="searchOperators3">
                            <option value=" AND ">AND</option>
                            <option value=" OR ">OR</option>
                            <option value=" NOT ">NOT</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <select class="form-control" name="searchOptions3">
                            <option value="birthDate:">Birthdate</option>
                            <option value="name:">Name</option>
                            <option value="Alternatives:">Alternatives</option>
                            <option value="Publication:">Publication</option>
                            <option value="deathDate:">Deathdate</option>
                            <option value="birthLocation:">Birthlocation</option>
                            <option value="deathLocation:">Deathlocation</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <input type="text" name="searchInput3" class="form-control" id="searchInput3" placeholder="">
                        </div>
                    </div>

                    <!-- 4. Row -->
                    <div class="form-row">
                        <div class="form-group col-2">
                            <select class="form-control" name="searchOperators4">
                            <option value=" AND ">AND</option>
                            <option value=" OR ">OR</option>
                            <option value=" NOT ">NOT</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <select class="form-control" name="searchOptions4">
                            <option value="deathDate:">Deathdate</option>
                            <option value="name:">Name</option>
                            <option value="Alternatives:">Alternatives</option>
                            <option value="Publication:">Publication</option>
                            <option value="birthDate:">Birthdate</option>
                            <option value="birthLocation:">Birthlocation</option>
                            <option value="deathLocation:">Deathlocation</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <input type="text" name="searchInput4" class="form-control" id="searchInput4" placeholder="">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary search_button">Submit Search</button>
                    </form>
                </div>
            </div>
        </div>


    <!--
        <i class="fas fa-info-circle"></i>

        AND, OR, NOT operators can be used in your query<br>
        To search with operators use the correct syntax:<br>
        keyword <strong>operator</strong> keyword<br>
        Example: stuttgart AND hamburg<br>
        This query will return all entities with the word 'hamburg' and 'stuttgart' in any field.<br>
        <br>
        ---<br>
        <br>
        Wildcards<br>
        ? can be used to replace one character<br>
        * can be used to replace zero or more characters<br>
        Examples: birthDate:10*, fel?mann<br>
    -->

        <img src="/static/img/JudaicaLink_Knowledge_Graph.jpg" class="img-thumbnail img-fluid mt-4" alt="Judaicalink Knowledge Graph">
    </div>

                <div class="col-md-0 col-lg-3 col-xl-4">
    <div class="alert alert-info text-center mt-4 sticky-top" id="picturemargintop30" role="alert">
        <b>Try some search keywords:</b>
        <ul class="list-unstyled">
            <li><i class="fa fa-search-plus"></i> Hamburg</li>
            <li><i class="fa fa-search-plus"></i> Ascher Saul</li>
            <li><i class="fa fa-search-plus"></i> Moscow</li>
            <li><i class="fa fa-search-plus"></i> Braude Markus</li>
            <li><i class="fa fa-search-plus"></i> Ulm</li>
            <li><i class="fa fa-search-plus"></i> 1879-03-14</li>
            <li><i class="fa fa-search-plus"></i> Edel, Peter</li>
            <li><i class="fa fa-search-plus"></i> 1861</li>
            <li><i class="fa fa-search-plus"></i> Universität</li>
            <li><i class="fa fa-search-plus"></i> Peláez del Rosal, Jesús</li>
        </ul>
    </div>




</div>
</main>
<!--content end-->

{% include "search/footer.html" %}

{% endblock content %}
